<div class="chapter-3">
  <div class="chapter-3__word chapter-3__saikai">
    <div class="grid-x grid-margin-x">
    <div class="char cell auto">
      <div><span></span><span></span><span></span><span></span></div>
      <div><span></span><span></span><span></span><span></span></div>
    </div>
    <div class="char cell auto">
      <div><span></span><span></span><span></span><span></span></div>
      <div><span></span><span></span><span></span><span></span></div>
    </div>
    </div>
  </div>
</div>
