<aside class="back_to_top">
  <a href="#skip-links" data-smooth-scroll
    ><i class="fas fa-arrow-circle-up fa-4x"></i><span>トップへ戻る</span></a
  >
</aside>
 <div class="back-to-top-sticky hide-for-print {{#ifpage 'Magellan'}} data-sticky-container{{/ifpage}}">

<footer id="footer" class="footer">
  <div class="section-spacing">
    <div class="grid-container">
      <div class="grid-x grid-padding-x grid-padding-y align-center-middle">
        <div class="cell medium-auto text-center">
          <p>Copyright &copy;{{year}} Foundation - Vue project.</p>
        </div>
      </div>
    </div>
  </div>
</footer>
</div>
